[user]
    name = Julian Stephens
    email = julian@julianstephens.net
    username = julianstephens
	signingkey = 2F21BAB0D22A9760

[core]
    editor = nvim
	autocrlf = false

[alias]
    br = branch
    c = commit
    cm = commit -m
    cam = commit -am
    cl = clone
    cp = cherry-pick 
    cv = cherry -v
    d = diff
    co = checkout
    s = switch
    sc = switch -c
    ps = push
    psom = push origin main
    psuom = push -u origin main
    pl = pull
    rv = remote -v
    ra = remote add
    st = status
    amend = commit --amend --no-edit
    unstage = restore --staged 
    change = branch -m master main
    reset = reset --soft HEAD~1
    last = show --summary
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = /usr/bin/gpg
[pull]
	rebase = false
